{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <h2>Profile Page of {{ shown_user.user.username }}</h2>
    {% if 'edit_successful' in request.GET %}
    <div class="alert alert-success" role="alert">
        Profile information was saved successfully
    </div>
    {% endif %}
    <p><strong>First name:</strong> {{shown_user.user.first_name}}</p>
    <p><strong>Last name:</strong> {{shown_user.user.last_name}}</p>
    <p><strong>Categories:</strong>
        {% for category in shown_user.categories.iterator %}
            <ul>
            <li>{{category}}</li>
            </ul>
        {% endfor %}
    </p>
    <p><strong>Company:</strong> {{shown_user.company}}</p>
    <p><strong>Email:</strong> {{shown_user.user.email}}</p>
    <p><strong>Phone number:</strong> {{shown_user.phone_number}}</p>
    <p><strong>Country:</strong> {{shown_user.country}}</p>
    <p><strong>State:</strong> {{shown_user.state}}</p>
    <p><strong>City:</strong> {{shown_user.city}}</p>
    <p><strong>Street address:</strong> {{shown_user.street_address}}</p>
    <p><strong>Postal code:</strong> {{shown_user.postal_code}}</p>
    {% if shown_user.user.pk == user.pk %}
    <div style="text-align:center;">
        <a role="button" href="/user/edit/" class="btn btn-outline-primary">Edit</a>
    </div>
    {% endif %}
</head>
<body>

</body>
{% endblock %}
