.wrapping-link{
  color: inherit;
}

.open-project-view-item:hover{
  color: grey;
  box-shadow: 0 0 1px gray;
  text-decoration: none;
}
.open-project-view-item{
  color: black;
}

.project-description{
  word-break: break-all;
}

.project-image{
  width:100px;
  height:100px;
}

.project-box-style{
  border: solid gray 1px;
  min-width:300px;
  min-height:300px;
  max-width:300px;
  max-height:300px;
  overflow:hidden;
}

.projects-view{
  margin:auto;
}

.honey{
  height:50px;
  width:50px;
}

.offerer-taskoffer-status{
  list-style-type: none;

}

.new-task-input{
  width: 80%;
}

.per td{
  padding:5px;
}

.per label{
  display: block;
}

.per table {
    border-collapse: collapse;
}

.per table, .per th,.per td {
    border: 1px solid black;
}

.permis{
  max-width:1000px;
}

.no-padding {
  padding: 0 !important;
}

.list-group-link-child {
  margin: 0;
  color: #212529 !important;
  text-decoration: none !important;
}

.list-group-link-child:nth-child(1) {
  padding: 0.75rem 0 0.75rem 1.25rem !important;
}


.task-link {
  text-decoration: none;
  color:;
}

.form-rating {
  margin-top: 1rem;
}

.btn-rating {
  font-size: 2em;
  line-height: 1em;
  padding: 3px 5px;
}

.btn-rating::after {
  content: "☆";
}

.form-rating-enabled .btn-rating:hover::after, .btn-rating-hover:after {
  content: "★";
}

.profile-link {
  color: #007BFF;
}

.list-centered {
 justify-content: flex-start;
 padding-inline-start: 0px;
}